body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 70px;
}

.play-button, .occupied {
  border: 1px solid;
  border-radius: 50%;
  height:60px;
  width: 60px;
  text-align: center;
  padding: 10px, 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
  color: #fff;
}

.black {
  background-color: black;
  color: #fff;
}